<%- layout('./layouts/boilerplate.ejs') %>
<div>
  <div class="h-[100vh] md:h-[60vh] overflow-hidden relative">
    <div
      id="carouselExampleSlidesOnly"
      class="carousel slide absolute bg-black"
      data-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active opacity-50">
          <img class="d-block w-100" src="img/img (1).jpg" alt="First slide" />
        </div>
        <div class="carousel-item opacity-50">
          <img
            class="d-block w-100"
            src="img/img (2).jpg"
            alt="Second slide"
          />
        </div>
        <div class="carousel-item opacity-50">
          <img class="d-block w-100" src="img/img (3).jpg" alt="Third slide" />
        </div>
      </div>
    </div>
    <div
      class="flex flex-col justify-center items-center gap-6 py-5 px-10 md:p-28 mx-auto mb-2"
    >
      <h1 class="text-slate-300 font-semibold text-3xl md:text-6xl">
        <span class="text-2xl text-golden">Explore Local Real Estate</span>
        <br />
        Find a <span class="text-slate-200">Home</span> to Suit <br />
        Your Lifestyle
      </h1>
      <form
        method="GET"
        action="/property/search"
        class="bg-slate-100 pl-3 pr-1 py-1 rounded-3xl flex items-center justify-between w-full md:w-1/2"
      >
        <input
          type="text"
          placeholder="Search..."
          class="bg-transparent focus:outline-none w-full h-10 pl-5"
          name="searchTerm"
        />
        <button type="submit" class="rounded-full bg-black hover:opacity-70">
          <i class="text-white font-light p-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="50"
              height="20"
              viewBox="0,0,256,256"
            >
              <g
                fill="#ffffff"
                fill-rule="nonzero"
                stroke="none"
                stroke-width="1"
                stroke-linecap="butt"
                stroke-linejoin="miter"
                stroke-miterlimit="10"
                stroke-dasharray=""
                stroke-dashoffset="0"
                font-family="none"
                font-weight="none"
                font-size="none"
                text-anchor="none"
                style="mix-blend-mode: normal"
              >
                <g transform="scale(5.12,5.12)">
                  <path
                    d="M21,3c-9.39844,0 -17,7.60156 -17,17c0,9.39844 7.60156,17 17,17c3.35547,0 6.46094,-0.98437 9.09375,-2.65625l12.28125,12.28125l4.25,-4.25l-12.125,-12.09375c2.17969,-2.85937 3.5,-6.40234 3.5,-10.28125c0,-9.39844 -7.60156,-17 -17,-17zM21,7c7.19922,0 13,5.80078 13,13c0,7.19922 -5.80078,13 -13,13c-7.19922,0 -13,-5.80078 -13,-13c0,-7.19922 5.80078,-13 13,-13z"
                  ></path>
                </g>
              </g>
            </svg>
          </i>
        </button>
      </form>
    </div>
  </div>
  <hr />
  <div class="max-w-6xl mx-auto p-3 pt-0 flex flex-col gap-8 mb-10">
    <%- include('./property/carouselProperty.ejs', { properties:
    offerProperties, title: 'Recent offers', linkText: 'Show more offers',
    linkTo: '/search?offer=true' }) %> <%-
    include('./property/carouselProperty.ejs', { properties: rentProperties,
    title: 'Recent places for rent', linkText: 'Show more places for rent',
    linkTo: '/search?type=rent' }) %> <%-
    include('./property/carouselProperty.ejs', { properties: saleProperties,
    title: 'Recent places for sale', linkText: 'Show more places for sale',
    linkTo: '/search?type=sale' }) %>
  </div>
</div>
