<header>
  
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand me-auto" href="/">Real Estate</a>
      <div
        class="offcanvas offcanvas-end"
        tabindex="-1"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Real Estate</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link mx-lg-2" aria-current="page" href="/">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link mx-lg-2" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-2" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-2" href="/property/search"
                ><span class="text-slate-700 text-lg">
                  <i class="fas fa-search"></i>
                </span>
                Search..</a
              >
            </li>
          </ul>
        </div>
      </div>
      <% if (user) { %>
      <div class="relative ml-2">
        <div>
          <a
            href="/user/profile"
            class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
          >
            <img
              class="rounded-full h-8 w-8 object-cover"
              src="<%= user.profilePicture %>"
              alt="profile"
            />
          </a>
        </div>
      </div>
      <% } else { %>
      <a href="/user/sign-in" class="login-button">Login</a>
      <% } %>

      <button
        class="navbar-toggler pe-0"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</header>
