<%- layout('./layouts/boilerplate.ejs') %>
<div class="p-3 max-w-lg mx-auto flex flex-col items-center">
  <h1 class="text-3xl text-center font-semibold my-7">
    Sign into your account
  </h1>
  <form id="signInForm" method="POST" class="flex flex-col gap-4 w-full">
    <div class="flex flex-col">
      <label for="email">Email: </label>
      <input
        type="email"
        placeholder="Email"
        class="border p-3 rounded-lg"
        id="email"
        name="email"
        required
      />
    </div>
    <div class="flex flex-col">
      <label for="password">Password: </label>
      <input
        type="password"
        placeholder="Password"
        class="border p-3 rounded-lg"
        id="password"
        name="password"
        required
      />
    </div>
    <button
      type="submit"
      class="bg-slate-700 text-white p-3 rounded-lg uppercase hover:opacity-95 flex justify-center"
    >
      <span id="signInText">Sign In</span>
      <div id="loadingSpinner" style="display: none">
        <div class="three-dots-loader"></div>
      </div>
    </button>
  </form>
  <p id="sign-in-error-section" class=" text-red-500 my-1 hidden"></p>
  <hr />
  <div class="flex gap-2 mt-3">
    <p>Don't have an account?</p>
    <a href="/sign-up">
      <span class="text-blue-700">Sign up</span>
    </a>
  </div>
</div>
